body {
    background-color: black;
}

#Huffle {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    border-style: dotted;
    border-color: gold;
    border-width: 20px;
    padding: 2%;
}

h2 {
    color: black;
    text-align: center;
    font-size: 30px;
}

a {
    color: white;
}