body {
    background: linear-gradient(pink, lightyellow);
}

h1 {
    font-family: Merriweather, Helvetica, sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    border-style: dotted;
    border-width: 25px;
    padding: 2%;
    border-color: lightyellow;
    font-size: 50px
}

h2 {
    font-family: Story Script, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: underline;
}

p {
    font-size: 25px;
}

ol {
    font-size: 25px;
}

#img1 {
    display: block;
    margin: auto;
}