body {
    background-color: tan;
}

h1 {
    text-align: center;
    font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: black;
    border-style: double;
    border-color: brown;
    border-width: 20px;
    padding: 2%;   
}

#Letter {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
    font-size: 37px;

}

h3 {
    text-align: center;
    font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: brown;
    
}

#div1 {
    width: 600px;
        height: 400px;
        background-image: url(Images/harry-potter-back-envelope0.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;

}

#div1:hover {
    background-image: url(Images/6efea623db8d9aba373cb0d8f039e55b.jpg);
    height: 850px;
}
